{% extends 'base.html.twig' %}

{% block title %}{{ string }}{% endblock %}

{% block body %}
    <h1 class="w3-center">YouTube favorite videos</h1>
    {% for entry in yt_entries %}
        <h2 class="w3-center">{{ entry.title }}</h2>
        <p class="w3-container w3-teal">{{ entry.description }}</p>
        <div class="w3-center">
            <iframe width="560" height="315" src={{ entry.link }} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    {% endfor %}
{% endblock %}