{% extends 'base.html.twig' %}

{% block title %}{{ entry.title }}{% endblock %}

{% block body %}
    <h1>{{ entry.title }}</h1>
    <a href="{{ entry.link }}">Link a YouTube</a>
    <p>{{ entry.description }}</p>
    <iframe width="560" height="315" src={{ entry.link }} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{% endblock %}